<div class="span3 item nature people">
  <div class="picture">
    <%= link_to image_tag(entity.avatar.url), person_path(entity), class: 'image' %>
    <div class="description">
      <p>
        <%= link_to entity.short_or_long_name, person_path(entity) %>
      </p>
      <p>
        <%= entity.description %>
      </p>

      <%= render 'shared/show_admin_links', :item => entity %>
    </div>
  </div>  
</div>
