<!-- start: Page Title -->
<div id="page-title">

  <h2>Personas</h2>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
  
  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid">
            
    <% @people.each do |person| %>
      <%= render 'show_person', :entity => person %>
    <% end %>

  </div>
  <!-- end: Portfolio -->
  
  <%= paginate @people %>

</div>
<!-- end: Wrapper  -->
