<!-- start: Page Title -->
<div id="page-title" class="search">

  <h2>Resultados para '<%= @query %>'</h2>

</div>
<!-- end: Page Title -->

<%= render '/shared/mixed_wall', items: @results.map {|r| r.searchable } %>

<div class="row text-center">
  <%= paginate @results %>
</div>
