<!-- start: Page Title -->
<div id="page-title">

  <h2>Resultados para '<%= @query %>'</h2>

</div>
<!-- end: Page Title -->

<%= render '/shared/mixed_wall', items: @results.map {|r| r.searchable } %>

<%= paginate @results %>
