<div class="banner banner-donor">
  <div class="banner-container">
    <h2>¿Te ha gustado esta historia?</h2>
    <p>Hemos demostrado <strong>más de 6.000 vínculos contrastados</strong> entre empresarios y políticos, y solo con tu ayuda podemos ir más lejos.</p>
    <a class="btn btn-civio" href="https://www.civio.es/dona/?source=quienmanda" title="Súmate">Súmate</a>
  </div>
</div>