<!-- Goteo banner. TODO: Remove this, temporary -->
<div id="wrapper" class="row-fluid">
  <div class="span12 ad-banner">
    <a href="http://www.civio.es/dona/" target="_blank">
      <%= image_tag("/images/banner_civio.jpg") %>
    </a>
  </div>
</div>
