<!-- Goteo banner. TODO: Remove this, temporary -->
<div id="wrapper" class="row-fluid">
  <div class="span12 ad-banner">
    <a href="http://www.goteo.org/project/quien-manda" target="_blank">
    	<%= image_tag("/images/banner.png") %>
    </a>
  </div>
</div>
