<div id="footer">
  <div class="container">
    <div class="row">

      <!-- start: About -->
      <div class="col-sm-6 col-md-5 about">
        <div class="logos">
          <p class="title">Un proyecto de</p>
          <a href="https://www.civio.es" class="logo" title="Civio" target="_blank">
            <%= image_tag("/images/logo-civio.png") %>
          </a>
        </div>
        <div class="logos">
          <p class="title">con la ayuda de</p>
          <a href="https://www.globalintegrity.org/" class="partner" title="Global Integrity" target="_blank">
            <%= image_tag("/images/logo-gi.png", width: '160px') %>
          </a>
          <a href="https://sunlightfoundation.com/" class="partner" title="Sunlight Foundation" target="_blank">
            <%= image_tag("/images/logo-sunlight.png", width: '90px') %>
          </a>
        </div>
        <div class="social">
          <ul>
            <li><a href="https://twitter.com/quien_manda" class="social-twitter" title="Twitter" target="_blank"></a></li>
            <li><a href="https://facebook.com/fundacioncivio" class="social-facebook" title="Facebook" target="_blank"></a></li>
            <!-- TODO: Put back once we have a RSS feed
            <li><a href="https://www.civio.es/feed/" class="social-rss" title="RSS" target="_blank"></a></li>
            -->
          </ul>
          <form target="_blank" class="form-inline validate" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="//civio.us4.list-manage.com/subscribe/post?u=9416fe6b76f2c3f985c1f8e0f&amp;id=9d5b4c8cda">
            <div class="form-group">
              <input id="mce-EMAIL" class="email form-control" type="email" required="" placeholder="correo" name="EMAIL" value="SUSCRÍBETE AL BOLETÍN">
              <button type="submit" class="btn btn-submit">Enviar</button>
            </div>
          </form>
        </div>
        <div class="contact">
          <a href="mailto:contacto@civio.es" class="contact">contacto<span class="arroba">@</span>civio.es</a>
        </div>
      </div>

      <!-- end: About -->

      <div class="col-md-2 hidden-sm hidden-xs icon">
      </div>

      <div class="col-sm-6 col-md-5 links">
        <h3>Quién Manda</h3>
        <p><a href="/posts/pero-que-es-esto#porque">¿Por qué hacemos esto?</a></p>
        <p><a href="/posts/pero-que-es-esto#quienes">Agradecimientos</a></p>
        <p><a href="/posts/pero-que-es-esto#legales">Términos legales</a></p>
        <p><%= link_to 'Log In', '/login' %></p>
      </div>

    </div>
  </div>
</div>
