<div id="footer">
  <div class="container">
    <div class="row-fluid">

      <!-- start: About -->
      <div class="span4">
        <h3>Un proyecto de Civio</h3>
        <img width="100px" src="/images/logo-civio.png"/>
        <p></p>
        <h3>con la ayuda de</h3>
        <img width="160px" src="/images/logo-gi.png"/>
        <img width="90px" src="/images/logo-sunlight.png"/>
      </div>
      <!-- end: About -->

      <!-- start: Photo Stream -->
      <div class="span4">
        <h3>Quién Manda</h3>
        <p><a href="/posts/pero-que-es-esto#porque">¿Por qué hacemos esto?</a></p>
        <p><a href="/posts/pero-que-es-esto#quienes">Agradecimientos</a></p>
        <p><a href="/posts/pero-que-es-esto#legales">Términos legales</a></p>
        <p><%= link_to 'Administración', rails_admin_path %></p>
      </div>
      <!-- end: Photo Stream -->
      
      <!-- start: Follow Us -->
      <div class="span3">
        <h3>Síguenos</h3>
        <a href="https://twitter.com/civio" class="social-twitter" target="_blank"></a>
        <a href="http://facebook.com/fundacioncivio" class="social-facebook" target="_blank"></a>
        <p></p>
        <p>
          <i class="icon-envelope"></i> <a href="mailto:contacto@civio.es">contacto@civio.es</a>
        </p>
        <p><i class="icon-globe"></i> <a href="http://www.civio.es">civio.es</a></p>
      </div>
      <!-- end: Follow Us -->

      <!-- start: Under Footer Back To Top -->
      <div class="span1">          
        <div id="under-footer-back-to-top">
          <a href="#"></a>
        </div>
      </div>
      <!-- end: Under Footer Back To Top -->

    </div>
  </div>
</div>
