<div id="footer">
  <div class="container">
    <div class="row-fluid">

      <!-- start: About -->
      <div class="span3">
        <h3>Un proyecto de Civio</h3>
        <p>
          <i class="icon-map-marker"></i> Sebastian Elcano 32, oficina 17<br/>
          <i></i> 28012 Madrid
        </p>  
        <p><i class="icon-envelope"></i> contacto@civio.es</p>
        <p><i class="icon-globe"></i> civio.es</p>
          
      </div>
      <!-- end: About -->

      <!-- start: Latest Tweets -->
      <div class="span3">
        <h3>Latest Tweets</h3>
        <ul id="twitter">
        </ul>
        <div class="clear"></div>
      </div>
      <!-- end: Latest Tweets -->

      <!-- start: Photo Stream -->
      <div class="span3">
        <h3>Flickr Photo Stream</h3>
        <div class="flickr-widget">
          <div class="clear"></div>
        </div>
      </div>
      <!-- end: Photo Stream -->
      
      <!-- start: Follow Us -->
      <div class="span2">
        <h3>Follow Us</h3>
        <a href="#" class="social-twitter"></a>
        <a href="#" class="social-facebook"></a>
      </div>
      <!-- end: Follow Us -->

      <!-- start: Under Footer Back To Top -->
      <div class="span1">          
        <div id="under-footer-back-to-top">
          <a href="#"></a>
        </div>
      </div>
      <!-- end: Under Footer Back To Top -->

    </div>
  </div>
</div>
