<!--start: Wrapper-->
<div id="wrapper" class="<%= extra_wrapper_css unless not defined? extra_wrapper_css %>">
  
  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid mixed">
            
    <% items.each do |item| %>
      <%= render partial_name(item), :item => item, :span => 'span4', :mixed => true %>
    <% end %>

  </div>
  <!-- end: Portfolio -->

</div>
<!-- end: Wrapper  -->
