<% unless related_posts.empty? %>
<% if defined?(wrapper) %>
<div id="wrapper" class="full tight">
<% end %>

  <div class="title article">
    <p>Artículos relacionados</p>
  </div>

  <div id="wall" class="row">

    <% related_posts[0..5].each do |post| %>
      <%= render '/shared/show_post', :item => post, :span => defined?(span) ? span : 'col-sm-4' %>
    <% end %>

  </div>

<% if defined?(wrapper) %>
</div>
<% end %>
<% end %>
