<% unless related_posts.empty? %>
<% if defined?(wrapper) %>
<div id="wrapper" class="full tight">
<% end %>

  <p class="title">Artículos relacionados</p>

  <div class="row-fluid">

    <% related_posts[0..5].each do |post| %>
      <%= render '/shared/show_post', :item => post, :width => defined?(width) ? width : 'span4' %>
    <% end %>

  </div>

<% if defined?(wrapper) %>
</div>
<% end %>
<% end %>
