<% unless posts.nil? or posts.empty? %>
<!-- start: Sidebar -->
<div class="span4 sidebar full">

  <!-- start: Wall -->
  <div id="wall">
    <h3>Otros artículos</h3>
    <% posts.each do |post| %>
      <%= render '/shared/show_post', :item => post, :width => 'span12' %>
    <% end %>
  </div>
  <!-- end: Wall -->

</div>
<!-- end: Sidebar -->
<% end %>
