<div id="entity-timesheet-container" class="white">
  <div id="entity-timesheet"></div>
  <div class="timesheet-arrow timesheet-arrow-right"><i class="icon-chevron-right"></i></div>
  <div class="timesheet-arrow timesheet-arrow-left"><i class="icon-chevron-left"></i></div>
</div>