<div class="span3 item">
  <div class="picture">
    <%= link_to image_tag(photo.file.url(:small)), photo, class: 'image' %>
    <div class="description">
      <p>
        <%= link_to photo.footer, photo %>
      </p>
      <p>
        &copy; <%= link_to photo.copyright, photo.source %>
      </p>

      <%= render 'shared/show_admin_links', :item => photo %>
    </div>
  </div>  
</div>
