<% unless photo.nil? %>
  <a class="embed-btn" href="#<%= @photo.id %>" title="Insertar esta foto"><i class="icon-fontello-code"></i> Insertar esta foto</a>
  <div class="embed-code">
    <p>Copia el siguiente código y pégalo en tu web para insertar esta foto</p>
    <input type="text" autofocus readonly>
  </div>
<% end %>