<% unless photo.nil? or photo.copyright.blank? %>
<p class="credits">
Foto: <%= photo.source.blank? ? 
            photo.copyright :
            (link_to photo.copyright, 
                     absolute_url(photo.source), 
                     target: '_blank',
                     class: 'source-link') %>
</p>	          
<% end %>
