<% unless photo.nil? %>
  <a class="embed-btn" href="#<%= @photo.id %>">Insertar foto <i class="icon-fontello-code"></i></a>
  <div class="embed-code">
    <p>Copia el siguiente código y pégalo en tu web para insertar esta foto</p>
    <input type="text" autofocus>
  </div>
<% end %>