<% unless photo.nil? %>
  <div id="upload-photo-modal" class="modal hide fade" tabindex="-1" aria-hidden="true">
    <div class="modal-body">
      <!--
      <button id="upload-photo-btn-select"><i class="icon-file"></i> Selecciona una foto de tu ordenador</button>
      <img id="preview-upload-photo">
      -->

      <form id="upload-photo-form" class="form-horizontal" action="/admin/photo/new" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
        <fieldset>
          <legend>Sube una foto al Fotomandón</legend>
          <input name="utf8" type="hidden" value="✓">
          <input name="authenticity_token" type="hidden" value="HU/zijKlhavgEtdo2u5RpldY3kl0bqpp3Icoh3TTfr4=">
          <div class="control-group">
            <label class="control-label" for="photo_file">File</label>
            <div class="controls">
              <input data-fileupload="true" id="photo_file" name="photo[file]" type="file">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" class="control-label" for="photo_footer">Footer</label>
            <div class="controls">
              <textarea cols="48" data-options="{}" data-richtext="false" id="photo_footer" name="photo[footer]" rows="3"></textarea>
              <span class="help-block">Opcional</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" class="control-label" for="photo_copyright">Copyright</label>
            <div class="controls">
              <input id="photo_copyright" maxlength="255" name="photo[copyright]" size="50" type="text">
              <span class="help-block">Opcional. Hasta 255 carácteres.</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" class="control-label" for="photo_source">Source</label>
            <div class="controls">
              <input id="photo_source" maxlength="255" name="photo[source]" size="50" type="text">
              <span class="help-block">Opcional. Hasta 255 carácteres.</span>
            </div>
          </div>
        </fieldset>
        <div class="modal-footer">
          <button class="btn btn-primary" data-disable-with="Save" name="_save" type="submit"><i class="icon-white icon-ok"></i> Guardar</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> Cancelar</button>
        </div>
      </form>

      <!--
      <form id="upload-photo-form" action="<%= url_for(:only_path => false) %>.json" enctype="multipart/form-data" method="GET">
        <input id="upload-photo-file" type="file" name="upload-photo-file" style="visibility: hidden">
        <input type="submit" value="send" style="visibility: hidden">
      </form>
      -->
    </div>
    <!--
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon icon-remove"></i> Cancelar</button>
      <button id="upload-photo-btn-upload" class="btn btn-primary disabled"><i class="icon icon-upload"></i> Subir foto</button>
    </div>
    -->
  </div>
<% end %>