<% unless photo.nil? or photo.source.blank? %>
<p class="credits">
Foto: <%= link_to photo.copyright, 
	          absolute_url(photo.source), 
	          target: '_blank',
	          class: 'source-link' %>
</p>	          
<% end %>
