<% if item.published or (can? :manage, item) %>
<div class="<%= defined?(width) ? width : 'span4' %> item topic">
  <a href="<%= topic_path(item) %>" class="picture">
    <div class="image-container">
      <div class="image">
        <%= image_tag(item.photo && item.photo.file.url(:small))%>
      </div>
    </div>
    <span class="hover"></span>
    <h3><%= item.title %></h3>
  </a>  
</div>
<% end %>