<div id="embed-code-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#script" data-toggle="tab">Script</a></li>
          <li><a href="#iframe" data-toggle="tab">Iframe</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="script">
            <p>Copia el siguiente código y pégalo en tu web para insertar este gráfico</p>
            <textarea id="script-input" readonly></textarea>
          </div>
          <div class="tab-pane" id="iframe">
            <p>Copia el siguiente código y pégalo en tu web para insertar este gráfico</p>
            <textarea id="iframe-input" readonly></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>