<div class="sharing-buttons">
  <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-517186c134d68dc8"></script>
  <script>
      var addthis_config =
      {
          // ui_508_compliant: true,
          ui_language: 'es',
          services_exclude: 'formspring, stumbleupon, reddit, blogger, gmail',        
          ui_header_color: '#666',
          ui_header_background: '#fff',
          // data_track_clickback: true
          // ui_use_css: false
      }
  </script>       
  <ul class="addthis_toolbox addthis_default_style addthis_16x16_style addthis_button_expanded">
      <li><a class="addthis_button_twitter social-twitter"></a></li>
      <li><a class="addthis_button_facebook social-facebook"></a></li>
      <li><a class="addthis_button_google_plusone_share social-googleplus"></a></li>
      <li><a class="addthis_button_meneame social-meneame"></a></li>
  </ul>
</div>