<!--start: Wrapper-->
<div id="wrapper" class="full">
  
  <!-- start: Flexslider -->
  <div class="slider">
    <div id="flex1" class="flexslider home">
      <ul class="slides">

        <% @frontpage.each do |post| %>
        <li>
          <%= link_to post, class: 'image' do %>
          <%= image_tag(post.photo.url()) %>
          <div class="slide-caption n">
            <h3><%= post.title %></h3>
          </div>
          <% end %>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
  <!-- end: Flexslider -->

</div>
<!-- end: Wrapper  -->  