<div class="subtitle">
  <h2>Un mapa del poder en España, con fuentes verificables y listo para investigar y compartir</h2>
</div>

<!--start: Wrapper-->
<div id="wrapper">
  
  <!-- start: Portfolio -->
  <div id="wall" class="row post">
            
    <% @topics.each do |topic| %>
      <%= render '/shared/show_topic', :item => topic %>
    <% end %>

  </div>
  <!-- end: Portfolio -->

</div>
<!-- end: Wrapper  -->

<!--start: Wrapper-->
<div id="wrapper">

  <div class="title photo"><p>Las últimas del Fotomandón</p></div>
  
  <!-- start: Portfolio -->
  <div id="wall" class="row extra-wall photo">
            
    <% @photos.each do |photo| %>
      <%= render '/shared/show_photo', :item => photo %>
    <% end %>

  </div>

  <!-- Botón Todos los Fotomandón
  <div class="all-btn row">
    <a href="#" title="Todos los Fotomandón">Todos los Fotomandón</a>
  </div>
  -->
  <!-- end: Portfolio -->

</div>
<!-- end: Wrapper  -->
