/* Import Page
=================================================================== */
td.field-match-success {
  background-color: #DFF0D8 !important;
  text-shadow: none;
}
td.field-match-warning {
  background-color: #FCF8E3 !important;
  text-shadow: none;
}
td.field-match-error {
  background-color: #F2DEDE !important;
  text-shadow: none;
}

body.admin #wrapper a {
  border-bottom: 1px black dotted;
}
body.admin #wrapper a:hover {
  border-bottom: 1px black solid;
  text-decoration: none;
}

table.table tr td span.import-actions { 
  display:none;
}
table.table tr:hover td span.import-actions { 
  display:inline-block;
}

/* Botones de edición para administradores en entidades relacionadas */
li .admin-action {
  display:none;
}
li:hover .admin-action {
  display:inline-block;
}