/* Home Page
=================================================================== */

.slider.span7.nogutter{ width: 100 - 40.42553191489362%; }

.slide-caption .source-link {
  color: #BBBBBB;
}

#homepage-slider{
  
  padding-top: 42px;

  .flexslider{
    background: none;

    &.home{
      padding: 3px 0 3px 3px;
      border-top: 1px dotted #969a92;
      border-bottom: 1px dotted #969a92;
      border-left: 1px dotted #969a92;
    }

    .slides > li{
      padding: 3px 0 3px 3px;
      background: #fff;

      > a{
        display: block;
        max-height: 500px;
        overflow: hidden;
      }
    }
  }
}

#homepage-lead {

  position: relative;
  text-align: center;
  background: url(/images/sidebar-pattern.gif) repeat 0 0 @colorSidebar;
  margin-left: 0;
  padding: 12px 30px 24px;
  z-index: 60;

  .box-shadow( 0px 0px 12px rgba(0, 0, 0, 0.6) );


  h3{
    color: @colorTextGreen;
    font-family: @fontBaskerville !important;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.75em;
    margin: 16px 0 6px;

    a{ color: @colorTextGreen; }
  }

  p{
    color: #4c4c4c;
    font-size: 0.938em;
    line-height: 1.5em;

    a:hover{
      text-decoration: none;
    }
  }

  a{
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;

    &:hover{ 
      color: @colorLinkGreen;
    }
  }

  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;

    .box-shadow( 0px 4px 10px rgba(0, 0, 0, 0.7) );
  };

  &:after{
    content: "";
    display: block;
    width: 64px;
    height: 8px;
    margin: 26px auto 12px;
    background: url(/images/sprites.png) no-repeat 0 0 transparent;
  };
}


/* Slide
=================================================================== */

.slide-caption{

  max-width: 45%;
  padding: 10px 16px;
  left: 16px;
  bottom: 16px;

  h3{
    line-height: 1.375em;
    margin-bottom: 10px;
  }

  p {
    line-height: 1.25em;
    color: #eee;
    font-size: 0.938em;
  }

  a:hover{ 
    color: @colorTextGreen;
    text-decoration: none;

    h3{ color: @colorTextGreen; }
  };
}
