<div class="span3 item nature people">
  <div class="picture">
    <%= link_to image_tag(photo.file.url(:full)), photo, class: 'image' %>
    <div class="description">
      <p>
        <%= photo.footer %>
      </p>
    </div>
  </div>  
</div>
