<!-- start: Page Title -->
<div id="page-title" class="photo">

  <h2>Fotomandón</h2>

</div>
<!-- end: Page Title -->


<!--start: Wrapper-->
<div id="wrapper">
  
  <!-- start: Portfolio -->
  <div id="wall" class="row photo">
            
    <% @photos.each do |photo| %>
      <%= render partial_name(photo), :item => photo %>
    <% end %>

  </div>
  <!-- end: Portfolio -->
  
  <div class="row text-center">
    <%= paginate @photos %>
  </div>

</div>
<!-- end: Wrapper  -->