<!-- start: Page Title -->
<div id="page-title">

  <h2>Fotos</h2>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
  
  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid">
            
    <% @photos.each do |photo| %>
      <%= render 'shared/show_photo', :photo => photo %>
    <% end %>

  </div>
  <!-- end: Portfolio -->
  
  <%= paginate @photos %>

</div>
<!-- end: Wrapper  -->
