<!--start: Wrapper-->
<div id="wrapper" class="full">       

  <!--start: Row -->
  <div class="row-fluid">

    <div class="span8 separate">

      <%= link_to image_tag(@photo.file.url(:full), class: 'photo'), @photo.file.url %>

      <p>
        <strong>Footer:</strong><%= @photo.footer %>
      </p>

      <% if can? :manage, @photo %>
      <p>
        Tags: 
        <% @photo.tag_list.each do |tag| %>
          <%= link_to tag, tagged_photos_path(tag_name: tag) %>
        <% end %>
      </p>
      <% end %>

      <hr>

      <%= link_to 'Back', photos_path %>

    </div>

  </div>

</div>