<!--start: Wrapper-->
<div id="wrapper" class="full">       

  <!--start: Row -->
  <div class="row-fluid">

    <div class="span8 separate">

      <h2>Listing posts</h2>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.title, post %></td>
              <td><%= link_to post.author.name, post %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>

</div>