<!-- start: Page Title -->
<div id="page-title">

  <h2>Artículos</h2>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
  
  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid">
            
    <% @posts.each do |post| %>
      <%= render '/shared/show_post', :item => post %>
    <% end %>

  </div>
  <!-- end: Portfolio -->
  
  <%= paginate @posts %>

</div>
<!-- end: Wrapper  -->
