/* Articles Page
=================================================================== */

#page-title{
  position: relative;
  padding: 0;
  margin-top: 42px;
  margin-bottom: 0;
  text-align: left;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: "";
    z-index: -1;
    top: 50%;
    left: 0;
  }

  &:before{
    width: 62px;
    height: 63px;
    overflow: hidden;
    background: url(/images/sprites.png) no-repeat 0 -8px transparent;
    margin-top: -30px;
  }

  &:after {
    width: auto;
    height: 5px;
    top: 18px !important;
    left: 82px;
    right: 0;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
  }

  h2{
    font-family: $fontBaskerville;
    display: inline-block;
    padding: 0 $grid-gutter-width/2 0 0;
    margin: 0 0 0 80px;
    color: $colorGray;
    font-size: 2.25em;
    font-weight: bold !important;
    background: $colorBody;
  }

  // Hide Title Icon on Search Titles
  &.search{
    &:before{
      display: none;
    }

    h2{
      margin-left: 0;
    }
  }

  &.photo:before{
    background-position: 0 -72px; 
  }
  &.people:before,
  &.organizations:before{
    background-position: 0 -135px; 
  }
  &.topics:before{
    background-position: 0 -199px; 
  }

  &.single:after{
    display: none;
  }

  &.centered{
    text-align: center;

    h2{
      margin-right: auto;
      margin-left: auto;
      padding-left: $grid-gutter-width/2;
    }

    &:before{
      display: none;
    }
    &:after{
      left: 0;
    }
  }
}


#wrapper{

  .title{
    position: relative;
    margin: 0 0 2*$grid-gutter-width;
    
    &:before{
      display: block;
      content: "";
      float: left;
      width: 62px;
      height: 63px;
      overflow: hidden;
      background: url(/images/sprites.png) no-repeat 0 -8px transparent;
      margin-top: -18px;
    }

    &:after{
      content: "";
      position: absolute;
      z-index: -1;
      height: 5px;
      top: 16px;
      left: 82px;
      right: 0;
      border-top: 1px solid #fafafa;
      border-bottom: 1px solid #fafafa;
    }

    p{
      display: inline-block;
      padding: 0;
      margin: 0 0 0 20px;
      color: $colorGray;
      font-family: $fontEconomica;
      font-size: 1.5em;
      font-weight: 600;
      //text-transform: lowercase;
      //text-shadow: 0px 1px 0px rgba(255,255,255,.4), 0 0 0px rgba(0,0,0,.2);
      background: $colorBody;
      padding-right: 18px;
    }

    &.photo:before{
      background-position: 0 -72px;
    }
    &.people:before,
    &.organization:before,{
      background-position: 0 -135px;
    }
  }

  .all-btn{

      margin: 24px 0 2*$grid-gutter-width;
      text-align: right;
      
      a{
        color: $colorLinkGreen;
        font-size: 1.375em;
        font-family: $fontBaskerville;
        font-style: italic;
        background: $colorHeader;
        padding: 10px 24px;
        border-top: 1px dotted #999;
        border-bottom: 1px dotted #999;
        letter-spacing: -0.01em;

        &:hover{
          background: $colorSecondary;
          text-decoration: none;
          -webkit-transition: background 0.4s ease-out;
          -moz-transition: background 0.4s ease-out;
          -o-transition: background 0.4s ease-out;
          -ms-transition: background 0.4s ease-out;
          transition: background 0.4s ease-out;
        }
      }
  }
}


/* Article Single
=================================================================== */

#wrapper{

  .posts,
  .sidebar{
    position: relative;
    padding: 0;
    margin-bottom: $grid-gutter-width;
    z-index: 60;
    @include boxStyle();
  }

  .posts.span8{
    background: #fff;
  }

  .posts .post{

    position: relative;
    margin: 0 0 $grid-gutter-width;
    padding: $grid-gutter-width 0 0;
    text-align: left;

    .picture{
      margin: 0 2*$grid-gutter-width;

      img{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }

    .picture-footer,
    .credits{
      color: $colorGray;
      font-size: 0.875em;
      text-shadow: none;
      background: $colorSecondary;
      margin: 0 2*$grid-gutter-width;
    }

    .picture-footer{
      padding: $grid-gutter-width/3 $grid-gutter-width/2 6px;
    }

    .credits{
      padding: 0 $grid-gutter-width/2 $grid-gutter-width/2;

      a{
        color: $colorLinkGreen;
        text-decoration: underline;

        &:hover{
          color: $colorGray;
          text-decoration: none;
        };
      }
    }

    .row-fluid{ 
      width: 90%;
      margin: 2*$grid-gutter-width; 
    }

    h2.post-title{
      color: $colorGray;
      font-family: $fontBaskerville !important;
      font-size: 2.25em;
      font-weight: 700;
      line-height: 1.375em;
      margin: 0 2*$grid-gutter-width $grid-gutter-width;
      padding-left: 3px;
      border-left: 1px solid $colorTextGreen;
      //@include titleBorder();

      span{
        display: block;
        padding-left: $grid-gutter-width/2;
        border-left: 1px solid $colorTextGreen;
      }
    }

    h3.post-title{
      color: $colorGray;
      font-family: $fontBaskerville !important;
      font-size: 1.75em;
      font-weight: 600;
      line-height: 1.375em;
      margin: $grid-gutter-width 2*$grid-gutter-width;
      //@include titleBorder();
    }

    .post-content{
  
      clear: both;
      float: none;
      margin: 0 2*$grid-gutter-width;
      padding: 0;
      border-top: 1px solid $colorBody;
      //font-size: 0.938em;  

      p{
        margin: 0 0 $grid-gutter-width/2;
      }

      h2{
        font-family: $fontBaskerville !important;
        font-weight: 700;
        font-size: 1.375em;
        margin: $grid-gutter-width 0px;
        line-height: 1.25em;
      }

      .post-meta{
        float: left;
        color: $colorGray;
        padding: $grid-gutter-width/2 0;
        margin: 0;
        //border-top: 1px solid $colorBody;

        .post-meta-author {
          color: $colorTitle;
          font-weight: 600;
        }

        a{
          font-family: $fontBaskerville !important;
          font-style: italic;
          text-decoration: none;

          &:hover{ color: #666; text-decoration: underline; };
        }
      }

      .tags{
        float: right;
        clear: none;
        width: auto;
        padding: 12px 0 0;

        .tag{
          margin-right: 0;
          margin-left: 8px;
        }
      }

      .post-description {
        clear: both;
        color: $colorGray;
        font-size: 1.25em;
        line-height: 1.5em;
        overflow: hidden;
        background: url(/images/moustache.gif) no-repeat bottom center;
        padding: $grid-gutter-width 0 $grid-gutter-width/2;
        border-top: 1px solid $colorBody;

        a{
          color: $colorLinkGreen;
          font-weight: 600;
          border-bottom: 1px dotted $colorLinkGreen;

          &:hover{
            color: $colorTitle;
            border-bottom: 1px solid $colorTitle;
          }
        }

        ul{
          padding-left: 12px;
          padding-bottom: $grid-gutter-width/2;
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
          -moz-box-sizing: border-box;    /* Firefox, other Gecko */
          box-sizing: border-box;         /* Opera/IE 8+ */
        }

        li{
          padding-left: 38px;
          padding-bottom: $grid-gutter-width/2;
          line-height: 1.5em;
          background: url(/images/list-moustache.gif) no-repeat 0px 12px;
        }
      }
    }  

    .sharing-buttons {
      width: 100%;
      background: transparent;
      position: absolute;
      bottom: -96px;
      margin: 0;
      z-index: 10;
    }

    &.related-posts,
    &.comments {
      margin: 0;
      background: $colorSecondary;
    }

    &.related-posts{

      .post-date{ 
        position: absolute;
        top: 12px;
        left: 0;
        margin: 0;
        padding: 0 18px;
        background: none;
      }

      .description{ display: none; }

      .title{
        color: $colorGray;
        font-size: 1.75em;
        font-family: $fontEconomica;
        font-weight: bold;
        //text-transform: lowercase;
        width: 90%;
        margin: 20px auto 30px;
        padding: 18px 0 24px;

        &:before{
          width: 56px;
          height: 58px;
          margin-right: 12px;
          background-image: url(/images/sprites-medium.png);
          background-position: 0 0;
        }
      }

      .row-fluid{
        width: auto;
        margin: $grid-gutter-width/2 $grid-gutter-width 0;
      }

      .item{
        float: left;
        background: #fff;
        width: 100%;
        margin-bottom: $grid-gutter-width;
        margin-right: 2%;
        padding: 0;
        -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
        -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
        box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);

        a{
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }

        h3{
          font-size: 1.25em;
          font-family: $fontBaskerville !important;
          font-weight: bold !important;
          line-height: 1.375em;
          padding-left: 3px;
          margin: 12px 12px 8px 58px;
          min-height: 56px;
          border-left: 1px solid $colorLinkGreen;

          a{
            display: block;
            color: $colorGray;
            min-height: 56px;
            padding-left: 10px;
            border-left: 1px solid $colorLinkGreen;

            &:hover{
              color: $colorLinkGreen;
              text-decoration: none;
            }
          }
        }

        a.image:hover{
          @include opacity( 0.8 );
        }        

        .description{
          clear: both;
          float: none;

          p{
            display: none;
          }
        }
      }
    }

    .post-end-image{
      
      margin: 2*$grid-gutter-width;

      > a{
        @include transition( opacity 0.3s ease-out );

        &:hover{
          opacity: 0.85;
        }
      }
    }

    &.comments {

      padding: 30px 0 20px;
    
      #disqus_thread {
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  .posts.full.picture{

    .picture-footer{
      padding: 24px;
      margin: 0;
      font-size: 1.25em;
    }

    .picture-meta,
    .admin-link{
      padding: 20px 24px 0;
      margin: 0;
    }

    .picture-meta{
      background: $colorSecondary;
    }

    .credits{
      color: $colorGray;
      padding: 0 0 20px;
      font-size: 0.875em;
      line-height: 24px;
      min-height: 24px;
      text-shadow: none;

      a{
        color: $colorLinkGreen;
        text-decoration: underline;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        -ms-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;

        &:hover{
          color: $colorGray;
          text-decoration: none;
        }
      }
    }

    .vote-btn{
      clear: left;
      color: $colorGray;
      float: left;
      //font-size: 0.875em;
      background: mix( white, $colorSecondary, 50% );
      line-height: $grid-gutter-width;
      padding-left: 8px;
      margin-bottom: 20px;
      margin-right: 10px;

      .vote{
        display: inline-block;
        color: $colorLinkGreen;
        padding: 0 8px;
        margin-left: 8px;
        border-left: 1px solid $colorSecondary;
        font-weight: bold;
      }

      .icon-fontello-thumbs-up-alt{
        color: $colorLinkGreen;
        font-size: 1.25em;
      }
    }

    a.vote-btn:hover,
    a.vote-btn:focus{
      color: $colorLinkGreen;
      text-decoration: none;
      background: white;
    }

    .embed-btn,
    .upload-btn{
      float: left;
      color: $colorGray;
      //font-size: 0.875em;
      line-height: $grid-gutter-width;
      background: mix( white, $colorSecondary, 50% );
      padding: 0 8px;
      margin-bottom: 20px;
      margin-right: 10px;

      &:hover,
      &:focus{
        color: $colorLinkGreen;
        text-decoration: none;
        background: white;
      }

      .icon-upload,
      .icon-fontello-code{
        font-size: 1.25em;
        color: $colorLinkGreen;

        &:before{
          margin-top: 0.2em;
        }
      }

      .icon-upload{
        margin-right: 0.1em;
      }

      .icon-fontello-code:before{
        margin-left: 0;
      }
    }

    .embed-code{
      display: none;
      clear: both;
      position: relative;
      top: -$grid-gutter-width/2;
      padding: 10px $grid-gutter-width/2 5px;
      background: mix( white, $colorSecondary, 50% );

      p{
        color: $colorGray;
        font-size: 0.875em;
        text-align: center;
      }

      textarea{
        box-sizing: border-box;
        padding: 6px 10px;
        width: 100%;
        height: 76px;
        resize: none;
        cursor: auto;
        border-radius: 0;
      }
    }

    .tags{
      clear: both;
      width: 100%;
    }

    .sharing-buttons{
      position: static;
      margin: $grid-gutter-width 0;
    }

    .annotorious-editor-text{
      font-size: 12px;
    }

    // Annotorious Autocomplete
    .annotorious-autocomplete-results{
        position: absolute;
        top: 22px;
        width: 240px;
        max-height: 240px;
        overflow-y: scroll;

        > a{
          display: block;
          padding: 4px;
          font-size: 12px;
          background: $colorHeader;
          border-top: 1px solid $colorBody;

          &.hover,
          &:hover{
            background: white;
            text-decoration: none;
          }
        }
    }
  }

  .sidebar{

    //width: 100 - 65.95744680851064%;
    margin-left: 0;
    background: none;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
          box-shadow: none;
    z-index: 0;


    .sharing-buttons{
      width: 100%;
      margin: $grid-gutter-width/2 0 24px;
      padding: 0;
    }

    .related-entities-navigation{

      position: relative;
      margin: 24px $grid-gutter-width;
      padding-bottom: 1px;
      line-height: 26px;

      a{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 26px;
        text-indent: 9999px;
        overflow: hidden;
        background: url(/images/fotomandon-arrows.png) no-repeat 0 0 transparent;

        &:hover{
          background-position: 0 -26px;
        }

        &.right{
          left: auto;
          right: 0;
          background-position: -20px 0;

          &:hover{
            background-position: -20px -26px;
          }
        }

      }

      p{
        width: 100%;
        color: $colorGray;
        font-weight: bold;
        text-align: center;
      }

    }

    .related-entities{

      position: relative;
      margin-top: $grid-gutter-width;
      padding: 0 $grid-gutter-width 8px;
      overflow: hidden;
      background: $colorSidebar;
      //background: url(/images/sidebar-pattern.gif) repeat 0 0 $colorSidebar;
      @include box-shadow( 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05) );

      // &:before{
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 1px;
      //   height: 100%;

      //   @include box-shadow( 0px 0px 12px rgba(0, 0, 0, 1) );
      // };

      ul{
        padding: $grid-gutter-width/2 0;
        border-top: 1px solid #fafafa;

        // This styly is only in related-entities inside posts
        &.row{
          padding: 0;
          border: none;
        }
      }

      h3{
        font-family: $fontBaskerville !important;
        font-size: 1.5em;
        font-weight: bold !important;
        padding: 20px 0;
        
        /*
        &:before{
          content: '';
          position: absolute;
          top: 44px;
          left: 190px;
          right: $grid-gutter-width;
          height: 5px;
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee;
        }
        */
      }

      hr{
        float: none;
        clear: both;
        margin: 0 $grid-gutter-width/2;
        border-color: #f0f0f0;
      }

      $pictureW: 68px;

      li{
        //float: left;
        //width: 25%;
        //margin-bottom: $grid-gutter-width;
        list-style: none;
        min-height: $grid-gutter-width + $pictureW;
        position: relative;
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
        //border-top: 1px solid darken( $colorSidebar, 15% );

        &:nth-child(4n+1){
          //clear: both;
          //margin-left: $grid-gutter-width;
          //padding-left: 0;
        }

        .picture{
          position: absolute;
          //float: left;
          width: $pictureW;
          height: $pictureW;
          padding: 0;
          margin: 0;
          //margin-right: 12px;
          border: 3px solid #fff;
        }

        .content{

          color: $colorGray;
          text-shadow: none;
          margin-left: $pictureW + 10;
          //margin-right: 8px;

          a{
            display: block;
            width: 100%;
            color: $colorTitle;
            font-weight: 600;
            margin-bottom: 2px;

            &:hover{
              text-decoration: none;
              color: $colorGray;
            };
          }
          
          small{
            font-size: 0.875em;
            line-height: 1em;
          }
        }

        .admin-link{
          position: absolute;
          right: 0;
          bottom: 0;
        }

        &:after{
          content: "";
          float: none;
          clear: both;
        }
      }

      /* Expandir/colapsar entidades relacionadas en el sidebar */
      .extra-related-entity {
        display: none !important;
      }
    }

    #related-entities-toggle{

      display: block;
      position: relative;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      //font-family: $fontBaskerville;
      //font-style: italic;
      font-size: 1.125em;
      font-weight: 600;
      color: $colorLinkGreen;
      background: $colorHeader;
      text-shadow: none;
      text-transform: lowercase;
      z-index: 90;

      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      // -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
      //  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
      //     box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);

      &:hover{
        color: $colorTitle;
      }

      // &:before{
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 1px;
      //   height: 100%;

      //   @include box-shadow( 0px 0px 12px rgba(0, 0, 0, 1) );
      // }
    }
  }
}

.post-description a {
  border-bottom: 1px black dotted;
}

.post-description a:hover {
  text-decoration: none;
  border-bottom: 1px black solid;
}

.pagination {
  text-align: center;

  ul >li > a,
  ul > li > span{
    font-size: 0.913em;
    padding: 6px 12px;
  }
}

// Upload Photo Modal
#upload-photo-modal{

  .modal-body{
    padding: 0;
    max-height: 450px;
  }

  form{
    margin: 0;

    fieldset{
      margin: 2px 10px;
    }

    legend{
      color: $colorLinkGreen;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      //line-height: 1em;
      //padding-bottom: 15px;
      margin-bottom: 20px;
      border-color: white;
    }

    input,
    textarea{
      border-radius: 0;
    }

    .control-group{
      color: $colorGray;
    }

    .help-block{    
      font-size: 0.75em;
      margin: 0;
      line-height: 1.5em;
    }
  }

  /*
  .modal-body{
    overflow: hidden;

    form{
      height: 0;
      margin: 0;
    }
  }
  */

  #upload-photo-btn-select{
    display: block;
    margin: 30px auto 10px;
    border: 1px solid $colorLinkGreen;
    padding: 2px 8px;
    line-height: 24px;
    color: $colorGray;
    background: white;

    .icon-file{
      color: $colorLinkGreen;
      margin-right: 0.1em;
    }

    &:hover{
      color: $colorLinkGreen;
    }
  }

  .modal-footer{
    .btn{
      color: $colorGray;
      border: none;
      background: $colorHeader;
      padding: 2px 8px;
      line-height: 24px;
      border-radius: 0;
      @include box-shadow( none );

      .icon{
        font-size: 1.25em;
        margin-right: 0.1em;
        color: $colorLinkGreen;

        &:before{
          vertical-align: middle;
        }
      }

      &:hover{
        color: $colorLinkGreen;
      }
    }

    .btn.btn-primary{
      color: $colorGray;
      text-shadow: none;
      background: white;

      &:hover{
        color: $colorLinkGreen;
      }

      &.disabled{
        //color: $colorGray;
        background: $colorHeader; // mix( $colorHeader, $colorSecondary, 50% );
        opacity: 0.5;

        &:hover{
          color: $colorGray;
        }
      }
    }
  }
}

.nav-tabs>li>a:hover{
  background: transparent;
  border-color: transparent;
}

#embed-code-modal{

  .modal-header .close{
    position: absolute;
    right: $grid-gutter-width/2;;
    z-index: 90;
  }

  .modal-body{
    padding-top: 0;
  }

  .tab-content{
    color: $colorGray;
    background: white;
    padding: $grid-gutter-width/2;;
    font-size: 0.875em;
    border: 1px solid #ddd;

    p{
      text-align: center;
    }

    textarea{
      box-sizing: border-box;
      padding: 6px 10px;
      margin: 5px 0 0;
      width: 100%;
      height: 76px;
      resize: none;
      cursor: auto;
      border-radius: 0;
    }
  }  
}