@import "bootstrap/_variables";

//== Color variables

$colorTitle: #414141;
$colorHeader: mix( #18dfa1, white, 5% ); // #eef2ea;
$colorGray: #333;
$colorBody: mix( #FAFFE0, white, 35% ); // #dee5d8;
$colorSidebar: $colorHeader; // #e1e1cd;
$colorTextGreen: #18dfa1; // #8aa304; //#6bb21b;
$colorLinkGreen: darken( $colorTextGreen, 15% ); //#8aa304;
$colorHeaderLink: $colorLinkGreen; //#a8c315;
$colorOrange: #ce7a20;
$colorSecondary: #FAFFE0;  // #dde4cd;

$link-color: $colorLinkGreen;


//== Fonts variables

$fontEconomica:   'Lato', Arial sans-serif;
$fontDroid:       'Lato', Arial sans-serif;
$fontBaskerville: 'Merriweather', Georgia, serif;


//== Grid system

//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-md-min;


//== Pagination

$pagination-color:                     $link-color;
$pagination-hover-color:               $link-color;
$pagination-active-bg:                 $link-color;
$pagination-active-border:             $link-color;

//== Buttons

$btn-border-radius-base:    0;


//== Styles

$border-radius-base:  0;
$border-radius-large: 0;
$border-radius-small: 0;

//== Modals

$modal-backdrop-opacity:      .75;