/* Wall
=================================================================== */

#wall{

  .item-cont{
    margin-bottom: $grid-gutter-width;
  }

  .item{
    position: relative;
    width: 100%;
    //margin: 0 0 24px;
    @include boxStyle();

    h2, h3{
      color: $colorGray;
      font-family: $fontBaskerville !important;
      font-weight: 700 !important;
      line-height: 1.25em;
      //padding-left: 3px;
      padding: 16px;
      margin: 0;
      //min-height: 56px;
      //border-left: 1px solid $colorTextGreen;

      a{
        display: block;
        padding-left: 3px;
        border-left: 1px solid $colorTextGreen;

        span{
          display: block;
          border-left: 1px solid $colorTextGreen;
          padding-left: 8px;
        }
      }
    }

    h2{
      font-size: 1.5em;
    }

    h3{
      font-size: 1.5em;
    }

    a{
      color: $colorGray;

      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      
      &:hover{
        color: $colorLinkGreen;
        text-decoration: none;
      }
    }

    .post-date{

      position: absolute;
      top: 12px;
      left: 0;
      width: auto;
      height: auto;
      padding: 0 18px;
      margin: 0;
      text-align: center;

      .day,
      .month{
        display: block;
        color: $colorGray;
        font-size: 1.25em;
        line-height: 1.375em;
      }

      .day{
        font-family: $fontBaskerville;
      }

      .month{
        font-family: $fontEconomica;
        text-transform: uppercase;
        
      }
    }

    .picture{
      position: relative;

      a.image,
      .image{
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:hover{
          @include opacity( 0.8 );
        }
      }

      a.image,
      a.image img{
        border-radius: 0;
      }

      .description,
      .description-top{
        color: $colorGray;
        //font-size: 0.938em;
        line-height: 1.375em;
        margin-top: 2px;

        p{ 
          padding: 2px 16px 0;
        }

        .picture-meta{
          padding-top: 10px;
          background: $colorSecondary;

          .tags{
            padding-bottom: 4px;

            ul{
              padding: 0;
            }
          }
        }

        .credits{
          display: block;
          width: 100%;
          padding: 0 16px 10px;
          margin: 0;
          font-size: 0.875em;
          font-family: $fontDroid;
          font-weight: normal;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          a{
            color: $colorLinkGreen;
            text-decoration: underline;

            &:hover{
              color: $colorGray;
              text-decoration: none;
            };
          }
        }

        .admin-link{
          position: absolute;
          bottom: 0;
          right: 10px;
          padding: 0;
        }
      }
    }
  }

  &.photo .item{

    .picture .description{
      font-family: $fontDroid;
      //font-weight: 600;

      > p{
        font-size: 1.125em;
        line-height: 1.375em;
        //@include titleBorder();
      }

      p.credits:before,
      p.admin-link:before{
        display: none;
      }

      p.admin-link{
        font-family: $fontDroid;
      }
    }
  }

  .item.people,
  .item.organization{

    h3{
      font-size: 1.375em;
      margin: 0;
      padding: 8px $grid-gutter-width/2;
      min-height: 0;
      border: none;
      //@include titleBorder();

      a{
        display: block;   
        min-height: 0;
      }
    }

    .picture .description{
      padding-bottom: 5px;
    }
  }

  &.mixed .item{

    .post-date{
      display: none;
    }

    h3,
    .picture .description-top{
      margin-left: 74px;
      line-height: 1.25em;
      //padding: 0 0 0 3px;
      padding: 12px 8px 8px;
      margin: 0;
      border: none;

      a{
        display: block;
        min-height: 58px;
        padding-left: 10px;
        border: none;
      }

      &:before{
        content: "";
        display: block !important;
        float: left;
        width: 58px;
        height: 58px;
        overflow: hidden;
        margin-right: 18px;
        border: none;
        background: url(/images/sprites-medium.png) no-repeat 0 0 transparent;
      }

      &:after{
        content: "";
        display: block;
        position: absolute;
        top: 12px;
        left: 72px;
        width: 5px;
        height: 58px;
        border-right: 1px solid $colorTextGreen;
        border-left: 1px solid $colorTextGreen;
      }
    }

    .picture .description-top{
      font-family: $fontBaskerville;
      font-weight: bold;
      line-height: 1.5em;

      &:before{
        height: 57px;
        background-position: 0 -58px;
      }

      p{
        padding: 0;
      } 
    }

    &.people,
    &.organization{
      h3{
        font-size: 1.25em;

        a{
          line-height: 1.375em;
        }
      }
    }

    &.people h3:before{
      background-position: 0 -115px;
    }
  }
}

