/* Post page */
.post-description a {
  border-bottom: 1px black dotted;
}

.post-description a:hover {
  text-decoration: none;
  border-bottom: 1px black solid;
}

.sidebar {
  margin-bottom: 20px;
}

div.quienmanda-embed-wrapper {
  margin-left: 20px;
}

/* For internal use, detect automatically internal broken links in posts and highlight */
.broken-link {
  background-color: red;
  text-shadow: none;
}

.unknown-link {
  background-color: orange;
  text-shadow: none;
}

/* Entity page */
#wrapper.tight {
  margin-top: 20px;
}

.entity-links li {
  font-size: 1.5em;
  float: left;
}
.entity-links a:hover {
  text-decoration: none;
  color: green;
}

/* Import page */
td.field-match-success {
}
td.field-match-warning {
  background-color: #FCF8E3 !important;
  text-shadow: none;
}
td.field-match-error {
  background-color: #F2DEDE !important;
  text-shadow: none;
}

body.admin #wrapper a {
  border-bottom: 1px black dotted;
}
body.admin #wrapper a:hover {
  border-bottom: 1px black solid;
  text-decoration: none;
}

table.table tr td span.import-actions { 
  display:none;
}
table.table tr:hover td span.import-actions { 
  display:inline-block;
}

/* Search box */
/* Taken from http://bootsnipp.com/snipps/stylish-search-form */
#custom-search-form {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-form button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-query:focus + button {
  z-index: 3;
}