/* Color variables
=================================================================== */
/* Mixins
=================================================================== */
/* Base
=================================================================== */
html {
  -webkit-font-smoothing: antialiased;
}
body {
  color: #000;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #dee5d8;
}
a {
  color: #242424;
}
a:hover {
  color: #121212;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal !important;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 36px;
  line-height: 40px;
}
h2 {
  font-size: 20px;
  line-height: 40px;
}
h3 {
  font-size: 18px;
  line-height: 32px;
}
h4 {
  font-size: 13px;
  line-height: 30px;
}
h5 {
  font-size: 12px;
  line-height: 26px;
}
h6 {
  font-size: 11px;
  line-height: 24px;
}
ul,
ol {
  margin: 0;
}
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
/* Layout
=================================================================== */
body > .container {
  position: relative;
  margin-top: 145px;
}
#wrapper {
  margin-top: 48px;
  margin-bottom: 30px;
}
#wrapper.full {
  margin-top: 0;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
}
.picture img {
  width: 100%;
  height: auto;
}
/* General
=================================================================== */
p.alert-info {
  margin: 0;
}
.tooltip {
  text-shadow: none;
  width: 180px;
}
.post-end-image {
  display: block !important;
}
.post-end-image a,
.post-end-image img {
  width: 100%;
}
/* For internal use, detect automatically internal broken links in posts and highlight */
.broken-link {
  background-color: red;
  text-shadow: none;
}
.unknown-link {
  background-color: orange;
  text-shadow: none;
}
/* Toggle buttons */
.label.toggable {
  cursor: pointer;
}
.active .show-active {
  display: inline-block;
}
.active .show-inactive {
  display: none;
}
.inactive .show-active {
  display: none;
}
.inactive .show-inactive {
  display: inline-block;
}
.quienmanda-embed-wrapper {
  max-width: 500px;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  background: #eef2ea;
  margin: 0 auto;
}
/* Social sharing
=================================================================== */
.sharing-right {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 0;
}
.sharing-buttons {
  margin: 25px 0 0 -10px;
  padding: .5em;
  text-align: center;
}
.addthis_toolbox {
  margin: 0;
  text-align: center;
}
.addthis_toolbox li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  list-style: none;
  list-style-type: none;
  margin: 0 .25em .25em 0;
  vertical-align: middle;
}
[class^="addthis_button_"] {
  height: 40px;
  width: 40px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  -webkit-box-shadow: 0 0 0 3px rgba(121, 207, 24, 0.2), 0 0 0.25em rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 0 0 3px rgba(121, 207, 24, 0.2), 0 0 0.25em rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 0 0 3px rgba(121, 207, 24, 0.2), 0 0 0.25em rgba(0, 0, 0, 0.5) inset;
}
[class^="addthis_button_"] span {
  background: none!important;
}
[class^="addthis_button_"]:hover {
  background-color: #79cf18;
}
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m {
  padding: 0!important;
  background-color: #fff;
}
.addthis_button_expanded {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
iframe.quienmanda-embed {
  background: #eef2ea;
}
iframe.quienmanda-embed body {
  margin: 0;
}
.annotorious-annotationlayer {
  width: 100%;
}
/* Header
=================================================================== */
body > header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 145px;
  background: #eef2ea;
  z-index: 1000;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
}
.nav-collapse.collapse {
  left: 0;
  top: 83px;
  background: #eef2ea;
  height: auto \9 !important;
  overflow: visible \9 !important;
  z-index: 9999;
}
.navbar,
.navbar-inner,
.nav,
.navbar-inverse {
  background: transparent !important;
  filter: none !important;
  border: none;
  padding: 0px;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .brand {
  padding: 0;
  margin: 15px 0 0;
}
.navbar .brand h1 {
  display: block;
  width: 225px;
  height: 115px;
  text-indent: -9999px;
  background: url(/images/quien-manda_logo.png) no-repeat 0 0 transparent;
}
.navbar .brand:after,
.navbar .brand:before {
  display: none;
}
.navbar .nav {
  position: absolute;
  left: 84px;
  right: 232px;
  padding-left: 140px;
  margin: 0;
  background: url(/images/nav-pattern.png) repeat-x 0 25px transparent !important;
}
.navbar .nav > li {
  background: #eef2ea;
}
.navbar .nav > li > a {
  color: #515151;
  font-family: 'Economica', sans-serif;
  font-weight: 700;
  font-size: 1.375em;
  padding: 16px;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.navbar .nav > li > a:hover {
  color: #a8c315;
  background-color: transparent !important;
}
.navbar .nav > li.active > a {
  color: #a8c315;
}
.navbar .nav > li.active > a:hover {
  color: #515151;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:focus {
  background-color: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .btn-navbar {
  position: relative;
  border: none;
  padding: 19px 16px 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .btn-navbar .icon-bar {
  background: #a3a3a3 !important;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
}
#custom-search-form {
  padding: 0;
  margin-top: 10px;
  margin-right: 0;
}
#custom-search-form .input-append {
  width: 100%;
}
#custom-search-form .search-query {
  color: #515151;
  width: 170px;
  background: #d9e1d2;
  padding-right: 8px;
  padding-right: 9px \9;
  padding-left: 8px;
  padding-left: 9px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #d3d9cd;
  margin-top: 3px;
  padding-top: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#custom-search-form .search-query:focus + button {
  z-index: 3;
}
#custom-search-form .search-query:focus {
  border-color: #aaa;
  background: #dee5d8;
}
#custom-search-form button {
  border: 0;
  background: none;
  padding: 4px 8px;
  margin-top: 5px;
  position: relative;
  left: 0;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#custom-search-form button .icon-search {
  color: #a8c315;
  font-size: 18px;
}
#custom-search-form button:hover .icon-search {
  color: #515151;
}
/* Footer
=================================================================== */
#footer {
  font-size: 0.938em;
  padding: 60px 0;
  background: url(/images/footer-pattern.jpg) repeat 0 0 #2a2b2d;
  text-shadow: none;
}
#footer a {
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
#footer .about .logos {
  float: left;
  margin-right: 22px;
}
#footer .about .logos .title {
  color: #FFF;
  font-family: 'Libre Baskerville', serif !important;
  font-size: 1.067em;
  font-style: italic;
}
#footer .about .logos .logo img {
  height: 34px;
  width: auto;
}
#footer .about a.civio-logo {
  float: none;
  clear: both;
  display: block;
  width: 150px;
  height: 42px;
  margin-top: 16px;
  text-indent: 9999px;
  background: url(/images/logo-civio.png) no-repeat 0 0;
}
#footer .about a.partner {
  padding-right: 8px;
}
#footer .about a.logo:hover,
#footer .about a.partner:hover {
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
#footer .about a.logo img,
#footer .about a.partner img {
  padding: 0 0 16px;
}
#footer .about .social {
  clear: both;
  float: none;
  padding: 16px 0 0;
  height: 36px;
}
#footer .about .social ul {
  float: left;
}
#footer .about .social li {
  float: left;
  padding-right: 12px;
  list-style: none;
}
#footer .about .social li a {
  width: 36px;
  height: 36px;
  background-color: #ce7a20;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  -ms-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
#footer .about .social li a.social-twitter {
  background-position: -82px -42px;
}
#footer .about .social li a.social-twitter:hover {
  background-color: #48c4d2;
}
#footer .about .social li a.social-facebook {
  background-position: -202px -42px;
}
#footer .about .social li a.social-facebook:hover {
  background-color: #3b5998;
}
#footer .about .social li a.social-rss {
  background-position: -362px -122px;
}
#footer .about .social li a.social-rss:hover {
  background-color: #FE9900;
}
#footer .about .social #mc-embedded-subscribe-form input {
  display: block;
  float: left;
  background: #5BA1D7;
  color: #fff;
  font-size: 0.75em;
  border: none;
  height: 36px;
  padding: 8px;
  margin: 0;
  width: 148px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#footer .about .social #mc-embedded-subscribe-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#footer .about .social #mc-embedded-subscribe-form .btn-submit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url(/images/play-btn.png) no-repeat center center #3289cd;
  text-indent: 9999px;
  overflow: hidden;
  width: 32px;
  height: 36px;
  border-color: #5BA1D7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#footer .about .social #mc-embedded-subscribe-form .btn-submit:hover {
  background-color: #5ba1d7;
}
#footer .about .contact {
  clear: both;
  float: none;
  color: #fff;
  font-size: 2em;
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  margin-top: 36px;
}
#footer .about .contact a {
  color: #ce7a20 !important;
  font-size: 1em;
}
#footer .about .contact a .arroba {
  font-family: 'Open Sans', sans-serif;
}
#footer .about .contact a:hover {
  color: #fff !important;
  text-decoration: none;
}
#footer .icon {
  height: 263px;
  background: url(/images/footer-icon.png) no-repeat center 0 transparent;
}
#footer .links {
  padding-top: 60px;
  padding-left: 25px;
}
#footer .links h3 {
  display: block;
  float: right;
  margin-top: -40px;
  width: 154px;
  height: 220px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/images/quien-manda_logo_footer.png) no-repeat 0 0 transparent;
}
#footer .links a {
  color: #6bb21b !important;
  text-decoration: underline;
}
#footer .links a:hover {
  color: #fff !important;
  text-decoration: none;
}
/* Home Page
=================================================================== */
.slider.span7.nogutter {
  width: 59.57446809%;
}
#homepage-slider {
  padding-top: 42px;
}
#homepage-lead {
  position: relative;
  text-align: center;
  background: url(/images/sidebar-pattern.gif) repeat 0 0 #e1e1cd;
  margin-left: 0;
  padding: 12px 30px 24px;
  z-index: 60;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}
#homepage-lead h3 {
  color: #6bb21b;
  font-family: 'Libre Baskerville', serif !important;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.75em;
  margin: 16px 0 6px;
}
#homepage-lead h3 a {
  color: #6bb21b;
}
#homepage-lead p {
  color: #4c4c4c;
  font-size: 0.938em;
  line-height: 1.5em;
}
#homepage-lead p a:hover {
  text-decoration: none;
}
#homepage-lead a {
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
#homepage-lead a:hover {
  color: #8aa304;
}
#homepage-lead:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}
#homepage-lead:after {
  content: "";
  display: block;
  width: 64px;
  height: 8px;
  margin: 26px auto 12px;
  background: url(/images/sprites.png) no-repeat 0 0 transparent;
}
/* Flexslider
=================================================================== */
.flexslider {
  position: relative;
  margin: 0;
  padding: 0;
  background: none;
  zoom: 1;
  z-index: 50;
  /* Hide the slides before the JS is loaded. Avoids image jumping */
}
.flexslider.home {
  padding: 3px 0 3px 3px;
  border-top: 1px dotted #969a92;
  border-bottom: 1px dotted #969a92;
  border-left: 1px dotted #969a92;
}
.flexslider .slides > li {
  position: relative;
  padding: 3px 0 3px 3px;
  background: #fff;
  zoom: 1;
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides > li > a {
  display: block;
  max-height: 500px;
  overflow: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ie7 .flexslider {
  margin-bottom: -30px;
}
.flex-viewport {
  max-height: 2000px;
}
.loading .flex-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
.flex-direction-nav a {
  width: 35px;
  height: 35px;
  display: block;
  background-color: #555;
  top: 20px;
  right: 20px;
  float: none;
  position: absolute;
  cursor: pointer;
  text-indent: -9999px;
  background-color: #222;
  background: rgba(0, 0, 0, 0.65);
  *bottom: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.flex-direction-nav .flex-next {
  background-image: url(../img/slider-control-right.png);
  background-repeat: no-repeat;
  background-position: 52% 50%;
}
.flex-direction-nav .flex-prev {
  margin-right: 36px;
  background-image: url(../img/slider-control-left.png);
  background-repeat: no-repeat;
  background-position: 48% 50%;
}
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover {
  background-color: #080808;
  opacity: 1;
}
.subpage .flex-direction-nav a {
  bottom: 0px;
  right: 0px;
  *bottom: 30px;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 3px 0 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 14px;
  height: 14px;
  display: block;
  background: #c8c8c8;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
  background: #505050;
}
.flex-control-paging li a.flex-active {
  cursor: default;
}
.slide-caption {
  width: auto;
  max-width: 45%;
  padding: 10px 16px;
  margin: 0 0 0px 0px;
  position: absolute;
  display: block;
  left: 16px;
  bottom: 16px;
  background-color: #222;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: none;
}
.slide-caption.n {
  background-color: #222;
  background: rgba(0, 0, 0, 0.6);
}
.slide-caption h3 {
  color: #fff;
  font-size: 18px;
  line-height: 1.375em;
  margin: 0 0 10px;
}
.slide-caption p {
  margin: 0;
  color: #eee;
  font-size: 0.938em;
  line-height: 1.25em;
}
.slide-caption a:hover {
  color: #6bb21b;
  text-decoration: none;
}
.slide-caption a:hover h3 {
  color: #6bb21b;
}
.slide-caption .source-link {
  color: #BBBBBB;
}
/* Wall
=================================================================== */
#wall .item {
  padding: 0;
  margin: 0 0 24px;
  border: none;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
}
#wall .item h2,
#wall .item h3 {
  color: #515151;
  font-family: 'Libre Baskerville', serif !important;
  font-weight: 700 !important;
  line-height: 1.375em;
  padding-left: 3px;
  margin: 12px 12px 8px 64px;
  min-height: 64px;
  border-left: 1px solid #6bb21b;
}
#wall .item h2 a,
#wall .item h3 a {
  display: block;
  min-height: 64px;
  padding-left: 12px;
  border-left: 1px solid #6bb21b;
}
#wall .item h2 {
  font-size: 1.375em;
}
#wall .item h3 {
  font-size: 1.25em;
}
#wall .item a {
  color: #515151;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#wall .item a:hover {
  color: #8aa304;
  text-decoration: none;
}
#wall .item .post-date {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0 20px;
  margin: 0;
  text-align: center;
}
#wall .item .post-date .day,
#wall .item .post-date .month {
  display: block;
  color: #515151;
  font-size: 1.375em;
  line-height: 1.375em;
}
#wall .item .post-date .day {
  font-family: 'Libre Baskerville', serif;
}
#wall .item .post-date .month {
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
}
#wall .item .picture {
  position: relative;
}
#wall .item .picture a.image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wall .item .picture a.image:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
#wall .item .picture a.image,
#wall .item .picture a.image img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#wall .item .picture .description {
  color: #515151;
  font-size: 0.938em;
  line-height: 1.5em;
  margin-top: 5px;
}
#wall .item .picture .description p {
  padding: 8px 14px;
}
#wall .item .picture .description .credits {
  display: block;
  width: 100%;
  padding: 10px 14px;
  margin: 10px 0 0;
  background: #dde4cd;
  font-size: 0.875em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wall .item .picture .description .credits a {
  color: #8aa304;
  text-decoration: underline;
}
#wall .item .picture .description .credits a:hover {
  color: #515151;
  text-decoration: none;
}
#wall .item .picture .description .admin-link {
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 0;
}
#wall.photo .item .picture .description {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
#wall.photo .item .picture .description > p:before {
  float: left;
  content: "";
  display: block;
  width: 3px;
  height: 1.375em;
  border-left: 1px solid #6bb21b;
  border-right: 1px solid #6bb21b;
  margin-right: 8px;
}
#wall.photo .item .picture .description p.credits:before,
#wall.photo .item .picture .description p.admin-link:before {
  display: none;
}
#wall.photo .item .picture .description p.admin-link {
  font-family: 'Open Sans', sans-serif;
}
#wall .item.people h4,
#wall .item.organization h4 {
  font-size: 1.125em;
  padding: 8px 8px 8px 14px;
  line-height: 1.375em;
}
#wall .item.people h4:before,
#wall .item.organization h4:before {
  float: left;
  content: "";
  display: block;
  width: 3px;
  height: 1.375em;
  border-left: 1px solid #6bb21b;
  border-right: 1px solid #6bb21b;
  margin-right: 8px;
}
#wall .item.people h4 a,
#wall .item.organization h4 a {
  font-size: 1em;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  line-height: 1em;
}
#wall.mixed .item .picture .description .credits {
  position: relative;
  padding-left: 60px;
  min-height: 54px;
}
#wall.mixed .item .picture .description .credits:before {
  content: "";
  display: block !important;
  position: absolute;
  top: 8px;
  left: 12px;
  width: 38px;
  height: 40px;
  overflow: hidden;
  border: none;
  background: url(/images/sprites-small.png) no-repeat 0 0 transparent;
}
#wall.mixed .item.photo .picture .description .credits:before {
  background-position: 0 -40px;
}
#wall.mixed .item.people .picture .description .credits:before {
  background-position: 0 -80px;
}
/* Articles Page
=================================================================== */
#page-title {
  position: relative;
  padding: 0;
  margin-top: 42px;
  margin-bottom: 0;
  text-align: left;
}
#page-title:before,
#page-title:after {
  position: absolute;
  display: block;
  content: "";
  z-index: -1;
  top: 50%;
  left: 0;
}
#page-title:before {
  width: 62px;
  height: 63px;
  overflow: hidden;
  background: url(/images/sprites.png) no-repeat 0 -8px transparent;
  margin-top: -30px;
}
#page-title:after {
  width: auto;
  height: 3px;
  top: 20px !important;
  left: 82px;
  right: 12px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}
#page-title h2 {
  font-family: 'Economica', sans-serif;
  display: inline-block;
  padding: 0 16px 0 0;
  margin: 0 0 0 80px;
  color: #515151;
  font-size: 2.25em;
  font-weight: bold !important;
  background: #dee5d8;
}
#page-title.photo:before {
  background-position: 0 -72px;
}
#page-title.people:before,
#page-title.organizations:before {
  background-position: 0 -135px;
}
#page-title.single:after {
  display: none;
}
#page-title.centered {
  text-align: center;
}
#page-title.centered h2 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
}
#page-title.centered:before {
  display: none;
}
#page-title.centered:after {
  left: 12px;
}
#wrapper .title {
  position: relative;
  margin: 0 0 64px;
}
#wrapper .title:before {
  display: block;
  content: "";
  float: left;
  width: 62px;
  height: 63px;
  overflow: hidden;
  background: url(/images/sprites.png) no-repeat 0 -8px transparent;
  margin-top: -18px;
}
#wrapper .title:after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 3px;
  top: 10px;
  left: 82px;
  right: 12px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}
#wrapper .title p {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 20px;
  color: #515151;
  font-family: 'Economica', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-transform: lowercase;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4), 0 0 0px rgba(0, 0, 0, 0.2);
  background: #dee5d8;
  padding-right: 18px;
}
#wrapper .title.photo:before {
  background-position: 0 -72px;
}
#wrapper .all-btn {
  margin: 24px 0 64px;
  text-align: right;
}
#wrapper .all-btn a {
  color: #8aa304;
  font-size: 1.375em;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  background: #eef2ea;
  padding: 10px 24px;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  letter-spacing: -0.01em;
}
#wrapper .all-btn a:hover {
  background: #dde4cd;
  text-decoration: none;
  -webkit-transition: background 0.4s ease-out;
  -moz-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
  -ms-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out;
}
/* Article Single
=================================================================== */
#wrapper .posts,
#wrapper .sidebar {
  position: relative;
  padding: 0;
  margin-bottom: 32px;
  z-index: 60;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
  box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
}
#wrapper .posts.span8 {
  background: #fff;
}
#wrapper .posts .post {
  position: relative;
  margin: 0 0 24px;
  padding: 20px 0;
  text-align: left;
  line-height: 24px;
}
#wrapper .posts .post.first {
  margin-top: -20px;
}
#wrapper .posts .post .picture {
  padding: 3px;
}
#wrapper .posts .post .picture img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#wrapper .posts .post .picture-footer,
#wrapper .posts .post .credits {
  color: #515151;
  font-size: 0.875em;
  text-shadow: none;
  background: #dde4cd;
  margin: 0;
}
#wrapper .posts .post .picture-footer {
  padding: 10px 12px 6px;
}
#wrapper .posts .post .credits {
  padding: 0 12px 12px;
}
#wrapper .posts .post .credits a {
  color: #8aa304;
  text-decoration: underline;
}
#wrapper .posts .post .credits a:hover {
  color: #515151;
  text-decoration: none;
}
#wrapper .posts .post .row-fluid {
  width: 90%;
  margin: 14px auto 22px;
}
#wrapper .posts .post .post-title {
  margin: 32px 32px 36px 104px;
  border-left: 1px solid #6bb21b;
}
#wrapper .posts .post .post-title h2 {
  color: #515151;
  font-family: 'Libre Baskerville', serif !important;
  font-size: 1.375em;
  font-weight: bold !important;
  line-height: 1.375em;
  text-align: left;
  margin: 0 0 0 3px;
  padding-left: 12px;
  border-left: 1px solid #6bb21b;
}
#wrapper .posts .post .info {
  width: 100px;
  float: left;
}
#wrapper .posts .post .post-date {
  display: block;
  padding: 10px 0;
  margin: 32px 12px 0 32px;
  background: #eef2ea;
  text-align: center;
}
#wrapper .posts .post .post-date .day,
#wrapper .posts .post .post-date .month,
#wrapper .posts .post .post-date .year {
  display: block;
}
#wrapper .posts .post .post-date .day {
  color: #515151;
  font-size: 1.25em;
  font-family: 'Libre Baskerville', serif;
}
#wrapper .posts .post .post-date .month {
  color: #515151;
  font-size: 1.375em;
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  padding: 4px 0;
}
#wrapper .posts .post .post-date .year {
  color: #515151;
  font-size: 0.875em;
  font-family: 'Libre Baskerville', serif;
}
#wrapper .posts .post .post-content {
  clear: both;
  float: none;
  padding: 0 32px;
  margin: 0;
  font-size: 0.938em;
}
#wrapper .posts .post .post-content p {
  margin: 0 0 15px;
}
#wrapper .posts .post .post-content h2 {
  font-family: 'Economica', sans-serif !important;
  font-weight: 700;
  font-size: 25px;
  margin: 25px 0px 0px;
  line-height: 30px;
}
#wrapper .posts .post .post-content .post-meta {
  color: #666;
  padding: 0 0 12px;
  margin: -10px 0 0;
}
#wrapper .posts .post .post-content .post-meta a {
  font-family: 'Libre Baskerville', serif !important;
  font-style: italic;
  text-decoration: none;
}
#wrapper .posts .post .post-content .post-meta a:hover {
  color: #6bb21b;
}
#wrapper .posts .post .post-content .post-description {
  color: #515151;
  overflow: hidden;
  background: url(/images/moustache.gif) no-repeat bottom center;
  padding-bottom: 12px;
}
#wrapper .posts .post .post-content .post-description a {
  border-bottom: 1px dotted #6bb21b;
}
#wrapper .posts .post .post-content .post-description a:hover {
  border-bottom: 1px solid #333;
  color: #000;
}
#wrapper .posts .post .post-content .post-description ul {
  padding-left: 12px;
  padding-bottom: 16px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
#wrapper .posts .post .post-content .post-description li {
  padding-left: 40px;
  padding-bottom: 16px;
  background: url(/images/list-moustache.gif) no-repeat 0px 7px;
}
#wrapper .posts .post .sharing-buttons {
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: -56px;
  margin: 0;
  z-index: 10;
}
#wrapper .posts .post.related-posts,
#wrapper .posts .post.comments {
  margin: 0;
  background: #dde4cd;
}
#wrapper .posts .post.related-posts .post-date {
  display: none;
}
#wrapper .posts .post.related-posts .title {
  color: #515151;
  font-size: 1.625em;
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  width: 90%;
  margin: 0 auto;
  padding: 18px 0 24px;
}
#wrapper .posts .post.related-posts .title:before {
  display: none;
}
#wrapper .posts .post.related-posts .row-fluid {
  width: 92%;
  margin: 14px 0 0 32px;
}
#wrapper .posts .post.related-posts .item {
  background: #fff;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 16px;
  padding: 0;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
}
#wrapper .posts .post.related-posts .item .picture {
  margin: 4px;
  padding: 0;
  position: relative;
  min-height: 72px;
}
#wrapper .posts .post.related-posts .item h3 {
  font-size: 1em;
  font-family: 'Libre Baskerville', serif !important;
  font-weight: bold !important;
  padding: 3px 0 3px 110px;
  line-height: 1.375em;
}
#wrapper .posts .post.related-posts .item h3 a {
  color: #515151;
}
#wrapper .posts .post.related-posts .item a.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 72px;
  overflow: hidden;
}
#wrapper .posts .post.related-posts .item a.image img {
  width: 100px;
}
#wrapper .posts .post.related-posts .item .description {
  clear: both;
  float: none;
}
#wrapper .posts .post.related-posts .item .description p {
  display: none;
}
#wrapper .posts .post.comments {
  padding: 30px 0 20px;
}
#wrapper .posts .post.comments #disqus_thread {
  width: 90%;
  margin: 0 auto;
}
#wrapper .posts.full.picture .picture-footer,
#wrapper .posts.full.picture .credits,
#wrapper .posts.full.picture .admin-link {
  padding: 24px 24px 0;
  margin: 0;
}
#wrapper .posts.full.picture .credits {
  color: #515151;
  padding: 24px;
  margin-top: 24px;
  font-size: 0.875em;
  background: #dde4cd;
  text-shadow: none;
}
#wrapper .posts.full.picture .credits a {
  color: #8aa304;
  text-decoration: underline;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
#wrapper .posts.full.picture .credits a:hover {
  color: #515151;
  text-decoration: none;
}
#wrapper .posts.full.picture .sharing-buttons {
  position: relative;
  margin: 0;
  bottom: -28px;
}
#wrapper .sidebar.span4 {
  width: 34.04255319%;
  margin-left: 0;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 0;
}
#wrapper .sidebar.span4 .sharing-buttons {
  width: 100%;
  margin: 16px 0 24px;
  padding: 0;
}
#wrapper .sidebar.span4 .related-entities-navigation {
  position: relative;
  margin: 24px 32px;
  padding-bottom: 1px;
  line-height: 26px;
}
#wrapper .sidebar.span4 .related-entities-navigation a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 26px;
  text-indent: 9999px;
  overflow: hidden;
  background: url(/images/fotomandon-arrows.png) no-repeat 0 0 transparent;
}
#wrapper .sidebar.span4 .related-entities-navigation a:hover {
  background-position: 0 -26px;
}
#wrapper .sidebar.span4 .related-entities-navigation a.right {
  left: auto;
  right: 0;
  background-position: -20px 0;
}
#wrapper .sidebar.span4 .related-entities-navigation a.right:hover {
  background-position: -20px -26px;
}
#wrapper .sidebar.span4 .related-entities-navigation p {
  width: 100%;
  color: #515151;
  font-weight: bold;
  text-align: center;
}
#wrapper .sidebar.span4 .related-entities {
  position: relative;
  padding: 0 24px 24px;
  overflow: hidden;
  background: url(/images/sidebar-pattern.gif) repeat 0 0 #e1e1cd;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
}
#wrapper .sidebar.span4 .related-entities:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 12px #000000;
  -moz-box-shadow: 0px 0px 12px #000000;
  box-shadow: 0px 0px 12px #000000;
}
#wrapper .sidebar.span4 .related-entities h3 {
  font-family: 'Economica', sans-serif !important;
  font-size: 1.625em;
  font-weight: bold !important;
  padding: 24px 0 36px;
}
#wrapper .sidebar.span4 .related-entities h3:before {
  content: '';
  position: absolute;
  top: 40px;
  left: 148px;
  right: 0;
  height: 3px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#wrapper .sidebar.span4 .related-entities li {
  float: none;
  clear: both;
  margin-bottom: 24px;
  list-style: none;
  min-height: 74px;
  position: relative;
  /* Expandir/colapsar entidades relacionadas en el sidebar */
}
#wrapper .sidebar.span4 .related-entities li.extra-related-entity {
  display: none;
}
#wrapper .sidebar.span4 .related-entities li .picture {
  position: absolute;
  width: 68px;
  height: 68px;
  border: 3px solid #fff;
}
#wrapper .sidebar.span4 .related-entities li .content {
  color: #515151;
  text-shadow: none;
  margin-left: 84px;
}
#wrapper .sidebar.span4 .related-entities li .content a {
  display: block;
  width: 100%;
  color: #8aa304;
  font-weight: bold;
}
#wrapper .sidebar.span4 .related-entities li .content a:hover {
  text-decoration: none;
  color: #515151;
}
#wrapper .sidebar.span4 .related-entities li .admin-link {
  position: absolute;
  right: 0;
  bottom: 0;
}
#wrapper .sidebar.span4 .related-entities li:after {
  content: "";
  float: none;
  clear: both;
}
#wrapper .sidebar.span4 #related-entities-toggle {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 1.25em;
  font-weight: normal;
  color: #a8c315;
  background: #eef2ea;
  text-shadow: none;
  text-transform: lowercase;
  z-index: 90;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.05);
}
#wrapper .sidebar.span4 #related-entities-toggle:hover {
  color: #515151;
}
#wrapper .sidebar.span4 #related-entities-toggle:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 12px #000000;
  -moz-box-shadow: 0px 0px 12px #000000;
  box-shadow: 0px 0px 12px #000000;
}
.post-description a {
  border-bottom: 1px black dotted;
}
.post-description a:hover {
  text-decoration: none;
  border-bottom: 1px black solid;
}
.pagination {
  text-align: center;
}
.pagination ul > li > a,
.pagination ul > li > span {
  font-size: 0.913em;
  padding: 6px 12px;
}
/* Entities
=================================================================== */
#wrapper.people .full.span3,
#wrapper.people .full.span9 {
  position: relative;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#wrapper.people .full.span3 .picture {
  padding: 3px;
}
#wrapper.people .full.span3 .picture img {
  width: 100%;
}
#wrapper.people .full.span3 .title {
  color: #515151;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.5em;
  border-bottom: 1px solid #6bb21b;
  margin: 10px 12px 0;
  padding-bottom: 10px;
}
#wrapper.people .full.span3 .title:before {
  display: none;
}
#wrapper.people .full.span3 .description {
  color: #373737;
  border-top: 1px solid #6bb21b;
  font-size: 0.938em;
  margin: 3px 12px 12px;
  padding-top: 12px;
}
#wrapper.people .full.span3 .alert.alert-info {
  margin: 12px;
  padding: 16px;
}
#wrapper.people .full.span3 .admin-link {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.entity-links {
  display: block;
  width: 100%;
  background: #e1e1cd;
  height: 40px;
}
.entity-links ul {
  display: block;
  text-align: center;
}
.entity-links li {
  float: none;
  display: inline;
  line-height: 40px;
  font-size: 1.25em;
}
.entity-links a:hover {
  text-decoration: none;
  color: #6bb21b;
}
/* Relations
=================================================================== */
#relations-table-toggle {
  float: right;
  background: #fff;
  color: #8aa304;
  padding: 8px 14px;
  text-shadow: none;
  font-size: 0.875em;
  font-weight: normal;
  margin-bottom: 24px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}
#relations-list {
  clear: both;
  float: none;
  background: none;
}
#relations-list .footable-sortable {
  font-size: 0.938em;
  color: #8aa304;
}
#relations-list .footable-sortable .footable-sort-indicator {
  color: #3f3f3f;
}
#relations-list .footable-sorted {
  color: #3f3f3f;
}
#relations-list tr td {
  color: #515151;
  font-size: 0.938em;
}
#relations-list tr td a:hover {
  color: #8aa304;
  text-decoration: none;
}
#relations-list .table th {
  border-bottom: 1px solid #c4ccbd;
}
#relations-list .table td {
  border-top: 1px solid #eef2ea;
  border-bottom: 1px solid #eef2ea;
}
#relations-list .table-striped tbody > tr:nth-child(odd) > td,
#relations-list .table-striped tbody > tr:nth-child(odd) > th {
  background: #e4eadf;
}
/* Viz Container */
#viz-container {
  background: #eef2ea;
  border: 3px solid #f9f9f9;
  height: 450px;
}
#viz-container.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 9900;
}
/* Controls */
#visualization-controls {
  font-size: 20px;
  position: absolute;
  top: 14px;
  left: 14px;
  background: #eef2ea;
}
#visualization-controls a {
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
#visualization-controls a:hover,
#visualization-controls a:focus {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  text-decoration: none;
}
#control-fullscreen-exit {
  display: none;
}
#viz-container.fullscreen #control-fullscreen {
  display: none;
}
#viz-container.fullscreen #control-fullscreen-exit {
  display: inline;
}
/* Pop-up */
#pop-up {
  display: none;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  border-radius: 4px 4px;
  pointer-events: none;
  text-shadow: none;
}
#pop-up-title {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bolder;
}
#pop-up-content {
  font-size: 12px;
}
/* Legend */
#visualization-legend {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #515151;
  background: #fff;
  padding: 4px 12px;
}
#visualization-legend .legend {
  font-size: 0.813em;
  display: inline-block;
  margin: 0 auto;
}
#visualization-legend .legend .legend-organizations {
  margin-right: 20px;
}
#visualization-legend .legend .legend-people i {
  color: #60A300;
}
#visualization-legend .legend .legend-organizations i {
  color: #A9C300;
}
/* Infobox */
#infobox {
  position: absolute;
  bottom: 14px;
  left: 14px;
  right: 14px;
  font-size: 14px;
}
#infobox i {
  margin-left: 5px;
}
#infobox span.separator {
  margin-left: 10px;
  margin-right: 10px;
}
#infobox span.sources {
  font-size: 12px;
  margin-left: 10px;
}
#infobox span.sources a {
  margin-right: 4px;
}
#infobox a {
  background: white;
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid #dee5d8;
}
#infobox a strong {
  font-weight: 600;
}
#infobox a i {
  margin-left: 6px;
  font-size: 0.913em;
}
#infobox a:hover {
  background: #dee5d8;
  text-decoration: none;
}
/* Visualization elements */
g.node circle {
  stroke-width: 0px;
}
g.node.root circle {
  stroke-width: 3px;
  stroke: black;
  fill: black !important;
}
g.node.root text {
  fill: #666;
  font-weight: 600;
}
g.node image {
  display: none;
  pointer-events: none;
}
g.node.expandable circle,
g.node.expanded circle {
  cursor: pointer;
}
g.node.expandable image,
g.node.expanded image {
  display: inline;
}
path.link {
  fill: none;
  stroke: #999;
  stroke-width: 2px;
}
path.link:hover {
  fill: none;
  stroke: #60A300;
  stroke-width: 3px;
}
marker {
  fill: #a6b398;
}
text {
  font-size: 12px;
  pointer-events: none;
}
/* Login Form
=================================================================== */
#wrapper.login-container {
  margin-top: 40px;
  min-width: 360px;
}
.admin #wrapper.full {
  margin-top: 40px;
}
.admin #wrapper.full .span12 {
  padding: 10px 20px 0;
}
#login-form {
  padding: 8px 22px;
}
#login-form .page-title-small {
  position: relative;
  padding: 5px 0px;
  text-align: center;
  z-index: 10;
}
#login-form .page-title-small h3 {
  display: inline-block;
  font-family: 'Economica', sans-serif;
  color: rgba(180, 180, 180, 0.8);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4), 0 0 0px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
.facebook_connect,
.twitter_connect {
  display: block;
  width: 100%;
  height: 38px;
  overflow: hidden;
  margin: 5px 0px 5px -1px;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.facebook_connect:hover,
.twitter_connect:hover {
  color: #f0f0f0;
  text-decoration: none;
}
.facebook_connect .img,
.twitter_connect .img {
  display: block;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  font-size: 26px;
  text-align: center;
}
.facebook_connect .text,
.twitter_connect .text {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  display: block;
  margin-left: 51px;
}
.facebook_connect {
  border: 1px solid #00549f;
  text-shadow: 0px 1px 1px #03327b;
  background: #0d77be;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkNzdiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDYzYWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #0d77be 0%, #0d63aa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d77be), color-stop(100%, #0d63aa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0d77be 0%, #0d63aa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0d77be 0%, #0d63aa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0d77be 0%, #0d63aa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0d77be 0%, #0d63aa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d77be', endColorstr='#0d63aa', GradientType=0);
  /* IE6-8 */
}
.facebook_connect:hover {
  text-shadow: 0px 0px 1px #03327b;
}
.twitter_connect {
  border: 1px solid #1b94bc;
  text-shadow: 0px 1px 1px #0a8ad2;
  background: #56d4ff;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzU2ZDRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYmIwZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #56d4ff 1%, #1bb0e2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #56d4ff), color-stop(100%, #1bb0e2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #56d4ff 1%, #1bb0e2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #56d4ff 1%, #1bb0e2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #56d4ff 1%, #1bb0e2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #56d4ff 1%, #1bb0e2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56d4ff', endColorstr='#1bb0e2', GradientType=0);
  /* IE6-8 */
}
.twitter_connect:hover {
  text-shadow: 0px 0px 1px #0a8ad2;
}
#login-form input[type="text"] {
  margin-bottom: 8px;
  font-size: 16px;
  height: 40px;
}
#login-form input[type="checkbox"] {
  margin-top: -4px;
}
#login-form input[type="submit"] {
  font-weight: 600;
}
#login-form .remember,
#login-form .forgot {
  font-size: 0.913em;
  width: 50%;
  line-height: 30px;
  height: 40px;
}
#login-form .remember {
  float: left;
  text-align: left;
}
#login-form .forgot {
  float: right;
  text-align: right;
  font-weight: 600;
}
#login-form .links {
  font-size: 0.913em;
  margin-top: 10px;
}
#error_explanation {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #A94442;
  background: #F2DEDE;
  font-size: 0.913em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#error_explanation h2 {
  font-size: 0.875em;
  line-height: 2em;
  color: #A94442;
}
#error_explanation ul {
  margin-left: 20px;
}
/* Import Page
=================================================================== */
td.field-match-success {
  background-color: #DFF0D8 !important;
  text-shadow: none;
}
td.field-match-warning {
  background-color: #FCF8E3 !important;
  text-shadow: none;
}
td.field-match-error {
  background-color: #F2DEDE !important;
  text-shadow: none;
}
body.admin #wrapper a {
  border-bottom: 1px black dotted;
}
body.admin #wrapper a:hover {
  border-bottom: 1px black solid;
  text-decoration: none;
}
table.table tr td span.import-actions {
  display: none;
}
table.table tr:hover td span.import-actions {
  display: inline-block;
}
/* Botones de edición para administradores en entidades relacionadas */
li .admin-action {
  display: none;
}
li:hover .admin-action {
  display: inline-block;
}
/* Higher than 1200 (desktop devices)
====================================================================== */
@media (min-width: 1200px) {
  .navbar .nav {
    right: 232px;
    padding-left: 210px;
  }
  .navbar .nav > li > a {
    padding: 16px 20px;
  }
  #homepage-lead {
    padding-right: 30px;
    padding-left: 30px;
  }
  #footer .links {
    padding-left: 120px;
  }
  #wrapper .sidebar.span4 .related-entities-navigation {
    margin: 24px 64px;
  }
  #viz-container {
    height: 490px;
  }
}
/* Lower than 979 (tablets devices)
====================================================================== */
@media only screen and (max-width: 979px) {
  .navbar-inverse .navbar-inner {
    position: relative;
  }
  .nav-collapse.collapse {
    position: absolute;
    top: 146px;
    left: auto;
    right: 0;
    height: 0;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  }
  .navbar .btn-navbar {
    top: 80px;
    margin: 0;
    border-left: none;
    background: #e1e1cd;
  }
  .navbar .btn-navbar:before {
    display: none;
  }
  .navbar .btn-navbar:hover {
    background: #dee5d8;
  }
  .navbar .nav {
    position: static;
    padding: 0;
    margin: 0;
    right: auto;
    left: auto;
  }
  .navbar .nav > li {
    border-bottom: 2px solid #dee5d8;
  }
  .navbar .nav > li:first-child > a {
    padding-top: 15px;
    border-top: none;
  }
  .navbar .nav > li a {
    padding: 10px 20px;
  }
  #custom-search-form {
    margin-top: 18px;
  }
  #custom-search-form .input-append {
    margin-left: 20px;
  }
  #custom-search-form button {
    margin-right: 10px;
  }
  #homepage-lead,
  #homepage-slider {
    width: 100%;
  }
  #homepage-lead:before,
  #homepage-slider:before {
    display: none;
  }
  #homepage-slider {
    padding-top: 12px;
  }
  #homepage-slider .flexslider.home {
    padding: 3px;
    border: 1px dotted #969a92;
  }
  #homepage-slider .flexslider.home .slides > li {
    padding: 3px;
  }
  #wall .item.span3,
  #wall .item.span4 {
    width: 48%;
  }
  #wall .item.span6 {
    width: 100%;
  }
  #wrapper .sidebar.span4 .related-entities-navigation {
    font-size: 0.913em;
    margin: 24px 16px;
  }
  #footer .icon {
    display: none;
  }
  #footer .about,
  #footer .links {
    width: 50%;
  }
  #footer .links {
    margin-left: 0;
  }
}
/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {
  .navbar .brand {
    margin-left: 12px;
  }
  .navbar .btn-navbar {
    margin-right: 12px;
  }
  body {
    padding: 0;
  }
  body > .container,
  #footer > .container {
    margin-right: 12px;
    margin-left: 12px;
  }
  #footer .links h3 {
    display: none;
  }
  #footer .about,
  #footer .links {
    width: 100%;
  }
  #footer .links {
    padding-left: 0;
  }
}
/* Small Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 520px) {
  #wall .item.span3,
  #wall .item.span4 {
    width: 100%;
  }
}
