/* Visualization elements */
g.node circle {
  stroke-width: 0px;
}
g.node.root circle {
  stroke-width: 3px;
  stroke: black;
  fill: black !important;
}

path.link {
  fill: none;
  stroke: #999;
  stroke-width: 2px;
}
path.link:hover {
  fill: none;
  stroke: red;
}

marker {
  fill: #999;
}

text {
  font-size: 12px;
  pointer-events: none;
}


/* Pop-up */
#pop-up {
  display: none;
  position:absolute;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  border-radius: 4px 4px;
  pointer-events: none;
  text-shadow: none;
}

#pop-up-title {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bolder;
}

#pop-up-content {
  font-size: 12px;
}


/* Controls */
#visualization-controls {
  float: left;
  font-size: 20px;
  position: absolute;
}
#visualization-controls i {
  cursor: pointer;
}


/* Legend */
#visualization-legend {
  position: absolute;
  float: right; 
  right: 100px;
}

.legend {
  font-size: 12px;
  display: inline-block;
  margin: 0 auto;
}
.legend span.legend-organizations {
  margin-right: 20px;
}
.legend-people i {
  color: #60A300;
}
.legend-organizations i {
  color: #A9C300;
}