g.node circle {
  stroke-width: 0px;
}
g.node.root circle {
  stroke-width: 3px;
  stroke: black;
  fill: black !important;
}

path.link {
  fill: none;
  stroke: #999;
  stroke-width: 2px;
}

marker {
  fill: #999;
}

text {
  font-size: 12px;
  pointer-events: none;
}

/* Controls */
.visualization-controls {
  float: left;
  font-size: 20px;
}
.visualization-controls i {
  cursor: pointer;
}

/* Legend */
.legend {
  font-size: 12px;
  display: inline-block;
  margin: 0 auto;
}
.legend span.legend-organizations {
  margin-right: 20px;
}
.legend-people i {
  color: #60A300;
}
.legend-organizations i {
  color: #A9C300;
}