/* Social Links
=================================================================== */

[class^="social-"],
[class*="social-"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  *margin-right: .3em;
  line-height: 40px;
  vertical-align: text-top;
  background-image: url("../img/icons/social-icons-set.v2.png");
  background-position: 40px 40px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Retina Display Hack */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  
  [class^="social-"],
  [class*="social-"] {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: text-top;
    background-image: url("../img/icons/social-icons-set@2x.v2.png");
    background-position: 40px 40px;
    background-repeat: no-repeat;
    background-size: 400px 320px;
  }  
    
}

.social-twitter {
  background-position: -80px -0px;
}

.social-twitter:hover {
  background-position: -80px -40px;
  background-color: #48c4d2;
}

.social-twitter2 {
  background-position: -160px -0px;
}

.social-twitter2:hover {
  background-position: -160px -40px;
  background-color: #48c4d2;
}

.social-facebook {
  background-position: -200px -0px;
}

.social-facebook:hover {
  background-position: -200px -40px;
  background-color: #3b5998;
}

.social-googleplus {
  background-position: -360px -240px;
}

.social-googleplus:hover {
  background-position: -360px -280px;
  background-color: #d94a39;
}

.social-meneame {
  background-position: -320px -80px;
}

.social-meneame:hover {
  background-position: -320px -120px;
  background-color: #FF6400;
}