<!-- start: Page Title -->
<div id="page-title">

  <h2>Organizaciones</h2>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
  
  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid organization">
            
    <% @organizations.each do |organization| %>
      <%= render '/shared/show_organization', :item => organization %>
    <% end %>

  </div>
  <!-- end: Portfolio -->

  <%= paginate @organizations %>
  
</div>
<!-- end: Wrapper  -->
