<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @organization.short_name %>
</p>

<%= link_to 'Back', organizations_path %>
